Source: sectpmctl-kmodsign-wrapper
Section: config
Priority: optional
Maintainer: Richard Robert Reitz <richard-robert.reitz@telekom.de>
Rules-Requires-Root: no
Build-Depends: curl, debhelper (>= 7.0.50~), config-package-dev (>= 4.15~)
Standards-Version: 4.1.0

Package: sectpmctl-kmodsign-wrapper
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: SECTPMCTL kmodsign wrapper
 This wrapper replaces kmodsign with a TPM2 backed version.
 That integrates software which doesn't use DKMS.
